*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.container{
    margin: 0px auto;
    border: 1px solid black;
    width: 1350px;
    height: auto;
}

header{
    background-color: rgba(77, 73, 80, 0.322);
    border: 1px solid black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

nav{
    background-color: rgb(111, 92, 114);
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    display: flex;
    height: auto;
    width: auto;
}

.mainContent{
    background-color: rgba(80, 92, 80, 0.603);
    border: 1px solid black;
    height: 420px;
    width: 70%;
    padding : 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(41, 35, 35);
}

.sideBar{
    background-color: rgb(107, 122, 113);
    border: 1px solid black;
    height: 420px;
    width: 30%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    color: black;
}

footer{
    background-color: rgb(111, 92, 114);
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(25, 26, 29);
}
